@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

:root {
    --border-color: #E8E8E8;
    --blue-color: #17a2b8;
    --red-color: #dc3545;
    --green-color: #28a745;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 50px;
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

project-card {
    flex: 0 0 calc(50%); 
    flex-direction: column;
}

section {
    text-align: center;  
}

button {
    padding: 5px 10px;
    margin: 10px;
}

.btn {
    border: none;
    color:white;
    display: inline-block;
    text-align: center;
    user-select: none;
    line-height: 1;
}

.btn:hover {
    cursor:pointer;
}

.btn-edit {
    background-color: var(--blue-color);
}

.btn-delete {
    background-color: var(--red-color);
}

.btn-new {
    background-color: var(--green-color);
}

.btn:disabled {
    background-color: grey !important;
    cursor: not-allowed;
}

#newForm {
    background-color: #FFF;
    border: 1px solid var(--border-color);
    margin: 20px;
    text-align: center;
    margin-left: 25%;
    width: 50%;
}

#myForm {
    padding:20px;
}   

#myForm h1, #myForm label {
    margin: 10px;
}